@charset "UTF-8";
body {
  background: #dde0eb;
}
body:after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #3F436B;
  color: rgb(179, 59, 59);
  opacity: 0.6;
}

.iphone-x, 
.screen-2,
.planning-the-day {
  position: relative;
  width: 314px;
  height: 620px;                                      
  top: 50px;
  bottom: 50px;

  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
}

.planning-the-day{
  left: 800px;
  top: -893px;
  width: 350px;
  background: #FAF2D5

}
.screen-2{
  left: 404px;
  top: -270px;
  background: #f4f0ec;
}
.iphone-x{
  left: 90px;
  background: linear-gradient(180deg, #FFFAE0 -21.73%, #B6ECF2 75.77%);
}
.iphone-x:before, .iphone-x:after, 
.screen-2:before, .screen-2:after,
.planning-the-day:before, .planning-the-day:after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.iphone-x:before,
.screen-2:before,
.planning-the-day:before {
  top: 0px;
  width: 56%;
  height: 30px;
  background-color: #1f1f1f;
  border-radius: 0px 0px 40px 40px;
}
h1{
  position: absolute;
  width: 314px;
  top: 35px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 40px;
  text-align: center;

  color: #000000;

}
h2{
  position: absolute;
  width: 314px;
  top: 65px;

  
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 40px;
  text-align: center;

  color: #000000;

}
.button{
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Raleway';
}
.button button:hover{
  background-color: papayawhip;
}

.grid-container {
  width: 250px;
  height: 50px;
  padding-top: 200px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.grid{
  width: 280px;
  height: 40px;
  padding-top: 125px;
  padding-left: 20px;
}

.grid-container button{
  margin-bottom: 10px;
  width: 100px;
  height: 58px;
}
.top-locations{
  padding-top: 40px;
}

.top-locations button{
  width: 314px;
  height: 50px;
  margin-bottom: 20px;
  overflow: scroll;
  text-align: left;
  font-style: 'Raleway';
  /* background: rgb(244, 240, 236);; */

}
.grid button{
  width: 90px;
  height: 50px;
  font-style: 'Raleway';
  font-size: 15px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 10px 15px;
  font-style: 'Raleway';
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.planning-the-day img{
  bottom: 200px;
  
}

.planning-the-day h1{
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  top: 5px;
  left: 35px;

  color: #000000;

    
}

.planning-the-day h2{
  left: -90px;
  font-size: 70px;
  font-weight: 200;
  line-height: 95px;
  top: 45px;
}


.yellow-card{
  position: absolute;
  width: 350px;;
  height: 303.78px;
  left: 0px;
  top: 32px;

  background: #FAF2D5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}


.yellow-card h4{
  position: absolute;
  width: 127px;
  height: 32px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

color: #000000;
}
.weather{
  left: -8px;
  bottom: 47px;
}
.day{

  left: 113px;
  top: 255px;

}
.yellow-card l{
  position: absolute;

  height: 32px;
  left: 127px;
  top: 195px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

}

.alert-card{
  position: absolute;
  width: 110px;
  height: 111px;


  background: #FACCD3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

}
.locations{
  right: 10px;
  bottom: 10px;
  width: 200px;
  height: 70px;

}
.yellow {
  left: 230px;
  top: 135px;
  width: 110px;
  height: 111px;

}

.alert-card w{
  position: absolute;
  width: 132px;
  height: 30px;
  right: -10px;
  bottom: 70px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: #000000;

}

.locations w{
  width: 200px;
  height: 30px;
  right: 10px;
  bottom: 30px;
}

.alert-card button{
  position: absolute;
  width: 37px;
  height: 34px;
  right: 40px;
  bottom: 5px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

}
.locations button{
  right: 20px;

}


.grid-filters{
  width: 20px;
  height: 50px;

}
.grid-filters button{
  position: absolute;
  width: 108.66px;
  height: 27px;
  
  background: #F5FCFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.button-rain{
  left: 6.67px;
  top: 277px;
  background: #F5FCFF;
}
.button-clear{
  left: 120.72px;
  top: 277px;
  background: #F9FEFF;
}
.button-sun{
  left: 236px;
  top: 277px;
  background: hsl(48, 76%, 92%);
}

.weather_info{
  position: absolute;

  left: 0px;
  top: 333px;  

}

.button4{
  background: #FACCD3
}
.button1{
  background:#FFFAE0;
}

.button2{
  background:#f7f2e6
}
.button3{
  background:#e2eff1;
}

.key{
  bottom: 300px;
  left: 80px;
}

